@inject IEventWidgetService WidgetService
@inject NavigationManager NavigationManager
@using BlazorApp2.Models;
@using BlazorApp2.Services;

<form>
    <div class="form-group">
        <label for="title">Название</label>
        <input type="text" class="form-control" id="title" @bind="@newWidget.Title" />
    </div>
    <div class="form-group">
        <label for="description">Описание</label>
        <input type="text" class="form-control" id="description" @bind="@newWidget.Description" />
    </div>
    <div class="form-group">
        <label for="eventDate">Дата</label>
        <input type="text" class="form-control" id="eventDate" @bind="@formattedDate" />
    </div>
    <div class="form-group">
        <label for="photoUrl">Ссылка на фото</label>
        <input type="text" class="form-control" id="photoUrl" @bind="@newWidget.PhotoUrl" />
    </div>
    <button type="button" class="btn btn-primary" @onclick="CreateWidget">Создать</button>
</form>

@code {
    private EventWidget newWidget = new EventWidget();
    private string formattedDate;

    async Task CreateWidget()
    {
        if (DateTime.TryParse(formattedDate, out DateTime parsedDate))
        {
            newWidget.EventDate = DateTime.SpecifyKind(parsedDate, DateTimeKind.Utc);

            await WidgetService.AddWidget(newWidget);
            NavigationManager.NavigateTo("/");
        }
    }
}