@using BlazorApp2.Models;
@using BlazorApp2.Services;
@inject IEventWidgetService WidgetService

@if (widgets == null)
{
    <p>Loading...</p>
}
else if (widgets.Count == 0)
{
    <p>Сегодня нет событий</p>
}
else
{
    <div class="widget-container">
        @foreach (var widget in widgets)
        {
            <div class="widget">
                <h4>@widget.Title</h4>
                <p>@widget.Description</p>
                @if (widget.Images != null && widget.Images.Count > 0)
                {
                    foreach (var image in widget.Images)
                    {
                        <img class="eventImg" src="data:image/png;base64,@Convert.ToBase64String(image)" alt="Event Image" />
                    }
                }
                <p>@widget.EventDate.ToString("dd.MM.yyyy")</p>
            </div>
        }
    </div>
}
@code {
    List<EventWidget> widgets;

    protected override async Task OnInitializedAsync()
    {
        widgets = await WidgetService.GetWidgetsForCurrentDate();
    }
}
